<svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 11 6" width="11" height="6">
	<title>Layer 152</title>
	<defs>
		<image width="11" height="6" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAAAXNSR0IB2cksfwAAAF1QTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////P23gxwAAAB90Uk5TTK316+rv7rIBIsX/+5QkACfI+o0lxv6OJsSTBAJbL1VLGQAAAAA8SURBVHicY2BgZGJmAQJWNnYGDk4ubhDg4eVj4OcXEAQyhYT5+YFsfhFRbjFxfgibX0JSShrGlpGVA1EAZ4oDnuir7SUAAAAASUVORK5CYII="/>
	</defs>
	<style>
	</style>
	<use id="Layer 152" href="#img1" x="0" y="0"/>
</svg>
