<section class="buy-golfballs">
    <div class="container">
        <h3>WE BUY GOLFBALLS</h3>
        <div class="row">
            <div class="col-md-7">
                <div class="buy-golfball-content">
                    <h4>Interested in selling?</h4>
                    <p>THis is sample text. Sample text goes here to help the viewer visualize the layout of the
                        site without creating content. This is sample text. Sample text goes here to help the viewer
                        visualize the layout of the site without creating content. This is sample text. Sample text
                        goes here to help the viewer visualize the layout of the site without creating content. This
                        is sample text. Sample text goes here to help the viewer visualize the layout of the site
                        without creating content.</p>

                    <p>This is sample text. Sample text goes here to help the viewer visualize the layout of the
                        site without creating content. This is sample text. Sample text goes here to help the viewer
                        visualize the layout of the site without creating content. This is sample text. </p>

                    <p>Sample text goes here to help the viewer visualize the layout of the site without creating
                        content.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="buy-golfball-form">
                    <h4>Send Us Info</h4>
                    <form>
                        <div class="buy-golfball-form-flex">
                            <div class="input-container">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="input-container">
                                <input type="tel" placeholder="Phone">
                            </div>
                            <div class="input-container">
                                <input type="email" placeholder="Email Address">
                            </div>
                            <div class="input-container">
                                <textarea placeholder="Tell Us More"></textarea>
                            </div>
                        </div>
                        <div class="input-submit">
                            <input type="submit" value="SEND MESSAGE" class="custom-site-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>