<div class="container">
    <ul class="tabs">
    <li class="active" data-cont=".one">Product Description</li>
    <li data-cont=".two">Product Reviews</li>
  </ul>
  <div class="content">
     {% for block in section.blocks %} 
       {%- case block.type -%}        
         {%- when 'description' -%}
            <div class="one">{{ product.description }}</div>
          {%- when '@app' -%}
            <div class="two"> {% render block %} </div>
        {%- endcase -%}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Description",
    "settings": [],
    "blocks":
    [
       {
          "type": "@app"
       },
        {
          "type": "description",
          "name": "Description",
          "limit": 1
        }
    ]
  }
{% endschema %}

{% stylesheet %}
  .tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs li {
  padding: 10px;
  background-color: #f6f4f4;
  border-right: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}
.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
}
.content {
  background-color: #ddd;
}
.content > div {
  padding: 20px;
}
.content > div:not(:first-child) {
  display: none;
}
{% endstylesheet %}
{% javascript %}
let tabs = document.querySelectorAll(".tabs li");
let tabsArray = Array.from(tabs);
let divs = document.querySelectorAll(".content > div");
let divsArray = Array.from(divs);

// console.log(tabsArray);

tabsArray.forEach((ele) => {
  ele.addEventListener("click", function (e) {
    // console.log(ele);
    tabsArray.forEach((ele) => {
      ele.classList.remove("active");
    });
    e.currentTarget.classList.add("active");
    divsArray.forEach((div) => {
      div.style.display = "none";
    });
    // console.log(e.currentTarget.dataset.cont);
    document.querySelector(e.currentTarget.dataset.cont).style.display = "block";
  });
});
  
{% endjavascript %}